.form-control-borderless {
  border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

// Markzeit class
.mz {

  &__results {
    margin-top: 15px;

    a {
      padding-bottom: 1px;
      background: $red;
      float: left;
      //box-shadow: 0 0 1px #ccc;
      -webkit-transition: all 0.5s ease-in-out;
      border: 0px;
      color: inherit;

      &:hover {
        -webkit-transform: scale(1.01);
      }
    }
  }

}



