{% extends 'base.html' %}


{% block content %}
  <!--TODO templating-->
  <div class="col-12 col-md-10 col-lg-8 mz__markt_list text-center">
    <a class="btn btn-primary mz__markt_detail__back_btn" href="/"> << Züruck zur Suche</a>
    <h3 class="text-center"> Die folgende Märkte sind gefunden</h3>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Zeit</th>
        <th scope="col">Address</th>
        <th scope="col">Öffunungszeit</th>
        <th scope="col">Slots</th>
        <th scope="col">Buchen</th>
      </tr>
      </thead>
      <tbody>
      <tr class="mz__markt_list__disabled">
        <th scope="row">Edeka</th>
        <td>Friedrichstraße 142, <br> 10117 Berlin</td>
        <td>07:00 - 22:00, <br> Heute geschlossen</td>
        <td>10</td>
        <td><a href="{% url 'markt-detail' %}" class="btn btn-danger mz__markt_list__button" disabled>Buchen</a></td>
      </tr>
      <tr class="mz__markt_list__active">
        <th scope="row">Rewe</th>
        <td>Berliner Str. 142, <br> 10117 Berlin</td>
        <td>07:00 - 22:00, <br> Heute geöffnet</td>
        <td>10</td>
        <td><a href="{% url 'markt-detail' %}"  class="btn btn-success">Buchen</a></td>
      </tr>
      </tbody>
    </table>
  </div>

{% endblock content %}
