{% extends "base.html" %}

{% block content %}
  {% include "supermarkets/partial/search_form.html" %}
{% endblock %}


{% block extra_js %} {# TODO #}
  <script>
  $("#submit").click(function (e){
    e.preventDefault();
    window.location = "{% url 'supermarkets:markt-list' %}?q=" + $("#search").val()
  })
  </script>
{##}
{#  <script>#}
{#    $("#submit").click(function (e) {#}
{#      e.preventDefault();#}
{#      $.getJSON({#}
{#        url: '/search/',#}
{#        type: 'GET',#}
{#        data: {#}
{#          'query': $("#search").val()#}
{#        },#}
{#        success: function (data) {#}
{#          console.log(data.result)#}
{#          if (data.result) {#}
{#            var ul = '<ul class="list-group list-group-flush">';#}
{#            for (var i = 0; i < data.result.length; i++) {#}
{#              var shop_obj = data.result[i];#}
{#              ul += '<a  href="shop_url"><li class="list-group-item">shop_name</li></a>'.replace(#}
{#                'shop_name', shop_obj.name,#}
{#                'shop_url', shop_obj.url#}
{#              )#}
{#            }#}
{#            ul += '</ul>';#}
{##}
{#            $('#results').prepend(ul);#}
{#          }#}
{#        }#}
{#      });#}
{#    })#}
{##}
{#  </script>#}
{% endblock %}
