{% extends 'base.html' %}

{% block content %}
  <div class="col-12 col-md-10 col-lg-8 mz__markt_detail">
    <a class="btn btn-primary mz__markt_detail__back_btn" href="{% url "supermarkets:markt-search" %}"> << Zurück</a>

    <h3 style="margin-top: 2em;" class="text-center">{{ supermarket.name }} - {{ supermarket.address }}</h3>

    <p class="text-center">
      {% if supermarket.phone_number %}Fon: {{ supermarket.phone_number }}{% endif %}
      {% if supermarket.fax_number %}Fax: {{ supermarket.fax_number }}{% endif %}
      {% if supermarket.email_address %}Email: {{ supermarket.email_address }}{% endif %}
      {% if supermarket.website %}Webseite: {{ supermarket.website|urlize }}{% endif %}
    </p>
    <h4>{{ available_slots }} freie Plätze gefunden:</h4>
    <table class="table text-center">
      <thead>
      <tr>
        <th scope="col">Verfügbar</th>
        <th scope="col">Zeit</th>
        <th scope="col">Freie Plätze</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for timestamp, slot in slots %}
        <tr class="mz__markt_list__{% if slot.available %}active{% else %}disabled{% endif %}">
          <td><i class="fa {% if slot.available %}fa-check{% else %}fa-times{% endif %}"></i></td>
          <td>{{ slot.start_time|date:"H:i" }}</td>
          <td>{{ slot.available }} / {{ supermarket.people_per_slot }}</td>
          <td>
            {% if slot.available %}
              {# TODO #}
              <form action=".." method="post">
                {% csrf_token %}
                <button class="btn btn-success" type="submit">buchen</button>
              </form>
            {% else %}
              <button class="btn btn-secondary disabled" disabled>buchen</button>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}
